@font-face {
    font-family: 'zabars';
    src: url(./fonts/Zabars.ttf);
}

* {
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./img/desert.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

canvas {
    display: none;
    background-color: black;
    border: 5px solid black;
}

.menu {
    background-image: url(./img/9_intro_outro_screens/start/startscreen_1.png);
    background-size: cover;
    background-position: center;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(250, 162, 0);
}

.start-game {
    height: 30%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game:hover {
    scale: 1.1;
}

.controls {
    cursor: default;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
}

.you-won {
    display: none;
    flex-direction: column;
    align-items: center;
}

.you-lose {
    display: none;
    flex-direction: column;
    align-items: center;
}

.restart-game {
    cursor: pointer;
}

.restart-game:hover {
    scale: 1.1;
}