@font-face {
    font-family: 'zabars';
    src: url(./fonts/Zabars.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./img/desert.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    border: 5px solid black;
}


.menu {
    position: relative;
    background-image: url(./img/9_intro_outro_screens/start/startscreen_1.png);
    background-size: cover;
    background-position: center;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(250, 162, 0);
}

.start-game {
    height: 30%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate-device {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    background-color: rgb(163, 119, 38);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.rotate-device img {
    height: 80px;
    width: 80px;
}

.start-game:hover {
    scale: 1.1;
}

.controls {
    cursor: default;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
}

.you-won {
    display: none;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
}

.you-lose {
    display: none;
    flex-direction: column;
    align-items: center;
}

.restart-game {
    cursor: pointer;
}

.restart-game:hover {
    scale: 1.1;
}

.game-hud {
    display: none;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.volume {
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 80px;
    right: 40px;
}

.d-none {
    display: none;
}

.mobile-btns {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 20px;
    display: none;
    justify-content: space-between;
}

.mobile-btns img {
    height: 40px;
    width: 40px;
}

.move-btns {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.action-btns {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

@media (max-width: 720px) {
    canvas {
        width: 100%;
    }
    
    .menu {
        width: 100%;
    }
}

@media (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .menu {
        height: 100vh;
    }

    .you-won img {
        height: 80vh;
    }
    
}