@font-face {
    font-family: 'zabars';
    src: url(./fonts/Zabars.ttf);
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./img/desert.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

canvas {
    display: none;
    background-color: black;
    border: 5px solid black;
}

.start-game {
    cursor: pointer;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-game:hover {
    scale: 1.1;
}

.play-btn {
    border-radius: 50%;
    border: 5px solid orange;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn img {
    height: 60px;
}